/* STATS SECTION */
.stats-section{
padding:120px 8%;
background:#05070d;
text-align:center;
}

.stats-title{
font-size:34px;
font-weight:800;
max-width:900px;
margin:auto;
margin-bottom:60px;
}

.stats-wrapper{
display:flex;
justify-content:space-between;
align-items:center;
}

/* SIDE BOXES */
.side{
display:flex;
flex-direction:column;
gap:20px;
}

.box{
width:140px;
height:100px;
background:#ccc;
border-radius:10px;
}

.small{height:80px;}
.wide{width:180px;height:90px;}

/* CENTER */
.center{
display:flex;
flex-direction:column;
gap:40px;
}

.row{
display:flex;
gap:80px;
}

.center p{
color:#aaa;
font-size:14px;
}

.center h2{
font-size:42px;
font-weight:800;
}
